.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardgroup {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
}
.topContainer {
  display: grid;
  grid-auto-flow: column;
}

.fab-container {
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.iconbutton{
  width:50px;
  height:50px;
  border-radius: 100%;
  background: #009879;
  box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  .button{
  width:60px;
  height:60px;
  background:#009879;
  }

  .iconbutton h1{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    color:white;
    
    }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
