main {margin: auto; max-width: 960px;}

main { margin: auto; max-width: 960px; }



.tabletitle {
 column-span: 3;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  tr.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .styled-table2 {
    border-collapse: collapse;
    margin:25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-height: 500px;
    width:100%;
}
.styled-table2 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table2 th,
.styled-table2 tr td {
    padding: 12px 15px;
}

.styled-table2 tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table2 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table2 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
